.container {
    width: 350px;
    margin: 80px auto;
    padding: 100px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
}