.greenButton {
    background-color: green;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 10em;
}


.greenButton :hover{
    background-color: darkseagreen;
}