.success {
    color: green;
    font-weight: bold;
    text-align: center
}

.failure {
    color: red;
    font-weight: bold;
    text-align: center
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.blueButton {
    background-color: deepskyblue;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 10em;
}


.blueButton :hover{
    background-color: #0056b3;
}